[project]
	description = Fork of http://www.infosys.tuwien.ac.at/staff/hummer/tools/jaxb-facets.html for latest jaxb impl ri
[access "refs/*"]
	owner = group user/javabeanz (javabeanz)
[access "refs/for/refs/*"]
	read = group user/javabeanz (javabeanz)
	push = group user/javabeanz (javabeanz)
	label-Code-Review = -2..+2 group user/javabeanz (javabeanz)
	label-Verified = -1..+1 group user/javabeanz (javabeanz)
	rebase = group user/javabeanz (javabeanz)
	removeReviewer = group user/javabeanz (javabeanz)
	submit = group user/javabeanz (javabeanz)
[access "refs/heads/*"]
	read = group user/javabeanz (javabeanz)
	create = group user/javabeanz (javabeanz)
	push = +force group user/javabeanz (javabeanz)
	pushMerge = group user/javabeanz (javabeanz)
[access "refs/tags/*"]
	push = +force group user/javabeanz (javabeanz)
	pushTag = group user/javabeanz (javabeanz)
	pushSignedTag = group user/javabeanz (javabeanz)
